el-get
url
places
/.smex-items
/tramp
elpa/
/backups
/projectile.cache
/auto-save-list
/projectile-bookmarks.eld
/tutorial/English.tut
/var
.cask/
/eshell
/ido.last
/recentf
/.dap-breakpoints
/.lsp-session-v1
/transient/
